html body {
    background-color: #212529;
}

.info {
    color: white;
    font-size: 0.75em;
    font-weight: lighter;
    text-align: right;
    margin-top: 0.25em;
    margin-right: 4em;
    margin-left: 4em;

}

.invalidWarning {
    font-size: 4em;
    text-align: center;
}

.returnHome{
    font-size: 2em;
    text-align: center;
}