<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>
    <form id="indexForm" class="formBox">
        <label for="userURL" class="indexFormLabel">URL:</label>
        <input class="indexFormInput" type="text" id="userURL" name="userURL">
        <input class="indexFormButton" type="button" name="shortenButton" value="Create">
    </form>
</body>
</html>